.photo-grid{
  width: 92.5%;
  margin: 92px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}
@media screen and (max-width:1160px){
  .photo-grid{
    width: calc(100% - 2 * 48px);
    gap: 14px;
  }
}
@media screen and (max-width:996px){
  .photo-grid{
    width: calc(100% - 2 * 24px);
    margin: 88px auto;
    gap: 16px;
  }
}
@media screen and (max-width:585px){
  .photo-grid{
    width: calc(100% - 2 * 16px);
    margin: 66px auto;
    gap: 12px;
  }
}