.lead{
  width: calc(100% - 2 * 148px);
  margin: 56px auto 92px;
}
@media screen and (max-width:1160px){
  .lead{
    width: calc(100% - 2 * 48px);
    margin: 48px auto 92px;
  }
}
@media screen and (max-width:996px){
  .lead{
    width: 100%;
    margin: 48px auto 88px;
  }
}
@media screen and (max-width:585px){
  .lead{
    margin: 48px auto 64px;
  }
}