.place__url{
  margin: 0 0 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaa;
  text-transform: uppercase;
}
@media screen and (max-width:585px){
  .place__url{
    margin-right: 16px;
    margin-left: 16px;
  }
}